@charset "UTF-8";
/* Base for '1st field' for css (police, norms : box-sizing,...) */
/* ========================================================================== */
/* Déclaration initiale for BOX-SIZING */
* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* box-sizing est appliqué à tous les éléments */
}

/* ========================================================================== */
/* Definition of the Google font polices */
/* For normal text */
body {
  font-family: "Roboto", Verdana, sans-serif;
  /* Roboto font police used for text */
}

/* For titles H1 */
h1, .footer > h2 {
  font-family: "Shrikhand", Verdana, sans-serif;
  /* Shrikhand font police used for title h1 except 'accueil' page */
}

#acceuil {
  font-family: "Roboto", Verdana, sans-serif;
  /* Roboto font police used for title h1 in 'accueil' page */
}

/* Utils declaration for css (variables, functions, mixins, %placeholders for extensions */
/* ========================================================================== */
/* ===                              Variables                             === */
/* ========================================================================== */
/* Color variables */
/* Size and border definition */
/* Display variables */
/* Breakpoints variables */
/* Footer responsive variables */
/* ========================================================================== */
/* ===                              Functions                             === */
/* ========================================================================== */
/* Function in order to get breaking point in founction of the type of data */
/* Function in order to get the display style in founction of the type of data and the screen width */
/* ========================================================================== */
/* ===                               Mixins                               === */
/* ========================================================================== */
/* Mixins for media queries */
/* For Header */
/* For Footer */
/* Mixin for link in the nav CSS style */
/* Mixin for Flex display */
/* Mixin for Article + Aside with H2 */
/* Layouts for css blocks BEM (header, footer, form,...) */
/* ========================================================================== */
/* Definition of the bloc_page style */
/* Computer screen ; standard style and others with 'viewport' param in html */
#bloc_page {
  max-width: 1920px;
  /* Define max width equal to 1920px */
}

.header > img {
  display: block;
  /* Convertion img in block in order to center itself */
  margin: 23px auto;
  /* center img with margin auto for left and right and 23px for top and bottom */
  height: 29px;
  /* Difine height size to get good img size */
}

.nav {
  position: absolute;
  /* nav positionning over logo in header */
  top: 23px;
  /* use of $header-margin variable for positionning nav */
  left: 23px;
  /* use of $header-margin variable for positionning nav */
}

.nav--disable {
  display: none;
  /* nav not displayed in 'accueil' page */
}

.nav--enable {
  display: block;
  /* nav displayed in pages except 'accueil' page */
}

.nav-link {
  text-decoration: none;
  /* No link default style */
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Display with flexbox in order to align icon and texte */
}

.nav-link__icon {
  font-size: 18px;
  margin-top: 5.5px;
  margin-right: 5.5px;
}

.nav-link__icon--display {
  display: block;
}

@media screen and (min-width: 1025px) {
  .nav-link__icon--display {
    display: none;
  }
}

.nav-link__texte {
  font-size: 18px;
  margin-top: 5.5px;
}

.nav-link__texte--display {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav-link__texte--display {
    display: block;
  }
}

.form {
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  margin: auto;
  width: 100%;
  padding: 15px 0;
  -webkit-box-shadow: inset 0px 7px 5px -3px #CECECE;
          box-shadow: inset 0px 7px 5px -3px #CECECE;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label > i {
  padding: 0 23px;
}

.form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* suppress default behaviour */
  outline: none;
  /* no border when focus */
  border: 0;
  background-color: #EAEAEA;
}

.form__input::-webkit-input-placeholder {
  color: #000;
}

.form__input:-ms-input-placeholder {
  color: #000;
}

.form__input::-ms-input-placeholder {
  color: #000;
}

.form__input::placeholder {
  color: #000;
}

.fonction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  list-style-type: none;
  padding-left: 20px;
}

.fonction-list > li {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
}

.fonction-list__number {
  background-color: #9356DC;
  color: #fff;
  font-size: 90%;
  padding: 4px 8px 2px 8px;
  border-radius: 15px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
}

.fonction-list__icon {
  color: #777777;
  font-size: 21px;
  position: relative;
  z-index: 2;
}

.fonction-list__icon--selected {
  color: #9356DC;
}

.fonction-list__texte {
  width: 176px;
  margin-right: -20px;
  padding: 25px 75px;
  background-color: #f7f7f7;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 7px 0px #CECECE;
          box-shadow: 0 4px 7px 0px #CECECE;
  position: relative;
  left: -53.25px;
  z-index: 1;
}

.fonction-list__texte--selected {
  background-color: #f2eafb;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 23px;
}

.footer > h2 {
  font-size: 110%;
  margin: 0;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
}

.footer-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
}

@media screen and (min-width: 769px) {
  .footer-list > li {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .footer-list > li {
    width: 25%;
  }
}

.footer-list__link {
  text-decoration: none;
  color: #fff;
  font-size: 100%;
}

.footer-list__link > i {
  padding: 0px 10px 0px 0;
  font-size: 14px;
}

/* Components for css INDEPENDANT blocks BEM (button,...) */
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 15px 20px;
  margin: 0 0 60px 0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px 2px #CECECE;
          box-shadow: 0px 5px 10px 2px #CECECE;
}

.button:hover {
  -webkit-box-shadow: 0px 8px 10px 5px #c1c1c1;
          box-shadow: 0px 8px 10px 5px #c1c1c1;
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(to top, #a16be0, #ff93e1);
}

/* Pages for css specific blocks code in several pages (specific rules in a page) */
/* 'Accueil' page css generation */
.city-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

.city-section > h1 {
  margin: 0;
  padding: 40px 60px 0px 60px;
  font-size: 140%;
  text-align: center;
}

.city-section > p {
  margin: 0;
  padding: 15px 15px 30px 15px;
  font-size: 110%;
  text-align: center;
}

.resto-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.resto-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  margin-bottom: 50px;
}

.resto-aside > h2 {
  margin: 0;
  padding: 50px 0 20px 20px;
}

.resto-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: #f7f7f7;
}

.resto-article > h2 {
  margin: 0;
  padding: 50px 0 20px 20px;
}

/* 'Menu' pages css generation */
/* Themes for specific css themes (Noel, promo,...) */
/* Vendors for external style like bootstrap or JQuery */
/*# sourceMappingURL=style.css.map */