@charset "UTF-8";
/* Base for '1st field' for css (police, norms : box-sizing,...) */
/* ========================================================================== */
/* Déclaration initiale for BOX-SIZING */
* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* box-sizing est appliqué à tous les éléments */
}

/* ========================================================================== */
/* Definition of the Google font polices */
/* For normal text */
body {
  font-family: "Roboto", Verdana, sans-serif;
  /* Roboto font police used for text */
}

/* For titles H1 */
h1, .footer > h2 {
  font-family: "Shrikhand", Verdana, sans-serif;
  /* Shrikhand font police used for title h1 except 'accueil' page */
}

[data-name] {
  font-family: "Roboto", Verdana, sans-serif;
  /* Roboto font police used for title h1 in 'accueil' page */
}

/* Utils declaration for css (variables, functions, mixins, %placeholders for extensions */
/* ========================================================================== */
/* ===                              Variables                             === */
/* ========================================================================== */
/* Color variables */
/* Size and border definition */
/* Display variables */
/* Breakpoints variables */
/* Footer responsive variables */
/* ========================================================================== */
/* ===                              Functions                             === */
/* ========================================================================== */
/* Function in order to get breaking point in founction of the type of data */
/* Function in order to get the display style in founction of the type of data and the screen width */
/* ========================================================================== */
/* ===                               Mixins                               === */
/* ========================================================================== */
/* Mixins for media queries */
/* For Header */
/* For Footer */
/* Mixins for link in the nav CSS style */
/* Layouts for css blocks BEM (header, footer, form,...) */
/* ========================================================================== */
/* Definition of the bloc_page style */
/* Computer screen ; standard style and others with 'viewport' param in html */
#bloc_page {
  max-width: 1920px;
  /* Define max width equal to 1920px */
}

.header > img {
  display: block;
  /* Convertion img in block in order to center itself */
  margin: 23px auto;
  /* center img with margin auto for left and right and 23px for top and bottom */
  height: 29px;
  /* Difine height size to get good img size */
}

.nav {
  position: absolute;
  /* nav positionning over logo in header */
  top: 23px;
  /* use of $header-margin variable for positionning nav */
  left: 23px;
  /* use of $header-margin variable for positionning nav */
}

.nav--disable {
  display: none;
  /* nav not displayed in 'accueil' page */
}

.nav--enable {
  display: block;
  /* nav displayed in pages except 'accueil' page */
}

.nav-link {
  text-decoration: none;
  /* No link default style */
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Display with flexbox in order to align icon and texte */
}

.nav-link__icon {
  font-size: 18px;
  margin-top: 5.5px;
  margin-right: 5.5px;
}

.nav-link__icon--display {
  display: block;
}

@media screen and (min-width: 1025px) {
  .nav-link__icon--display {
    display: none;
  }
}

.nav-link__texte {
  font-size: 18px;
  margin-top: 5.5px;
}

.nav-link__texte--display {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav-link__texte--display {
    display: block;
  }
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 23px;
}

.footer > h2 {
  font-size: 110%;
  margin: 0;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
}

@media screen and (min-width: 769px) {
  .footer-list > li {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .footer-list > li {
    width: 25%;
  }
}

.footer-list__link {
  text-decoration: none;
  color: #fff;
  font-size: 100%;
}

.footer-list__link > i {
  padding: 0px 10px 0px 0;
  font-size: 14px;
}

/* Components for css INDEPENDANT blocks BEM (button,...) */
/* Pages for css specific blocks code in several pages (specific rules in a page) */
/* 'Accueil' page css generation */
/* 'Menu' pages css generation */
/* Themes for specific css themes (Noel, promo,...) */
/* Vendors for external style like bootstrap or JQuery */
/*# sourceMappingURL=style.css.map */