.jaime{
    position: relative;
    overflow: hidden;
    & > .fas.fa-heart{
        opacity: 0;
        color: transparent;
        background: linear-gradient(to top, $color-primary, $color-secondary); /* Attention : 'background' first and after 'background-clip: text' */
        background-clip: text; /* Attention : 'background-clip: text' after background */
        -webkit-background-clip: text; /* Attention : webkit not written by sass */
    }
    & > .far.fa-heart{
        position: absolute;
        z-index: 3;
    }
    &__voile{
        width: 24px;
        height: 24px;
        background-color: lighten($color-quaternary, 50%);
        position: absolute;
        bottom: 4px;
        z-index: 1;
        &--background{
            background-color: $color-card;
        }
    }
    &__vague{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 72px;
        height: 24px;
        background-color: transparent;
        position: absolute;
        bottom: -2px;
        right: 0;
        z-index: 2;
        & > div{
            width: 16%;
            height: 25%;
            background-color: lighten($color-quaternary, 50%);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &--background  > div{
            background-color: $color-card;
        }
    }

    &:hover > .far.fa-heart{
        animation: heart-contour 1000ms 500ms forwards;
    }
    &:hover > .fas.fa-heart{
        animation: heart-contain0 200ms 245ms forwards;
    }
    &:hover > .jaime__voile{
        animation: heart-contain1 2000ms forwards;
    }
    &:hover > .jaime__vague{
        animation: heart-contain2 1500ms forwards;
    }
}

@keyframes heart-contour {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes heart-contain0 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes heart-contain1 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-27px);
    }
}

@keyframes heart-contain2 {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(50px, -27px);
    }
}