.jaime{
    & > .fas.fa-heart{
        opacity: 0;
        color: transparent;
        background: linear-gradient(to top, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
    }
    & > .far.fa-heart{
        opacity: 1;
        position: absolute;
        z-index: 1;
    }
    &:hover > .far.fa-heart{
        opacity: 0;
    }
    &:hover > .fas.fa-heart{
        opacity: 1;
    }
}