.plat{
    @include flex-display(row, flex-start, center, nowrap, no-adjust);
    background-color: $color-card;
    border-radius: 15px;
    box-shadow: 0 2px 7px -1px $color-shadow;
    margin: 7px 0;
    overflow: hidden;
    &__description{
        margin: 12px auto 12px 10px;
        min-width: 0px;
        @include flex-display(column, flex-start, flex-start, nowrap, no-adjust);
        & > h3{
            margin: 0;
            padding-bottom: 7px;
            font-size: 110%;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & > p{
            margin: 0;
            font-size: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__prix{
        margin: auto 20px 12px 10px;
        font-weight: 600;
        font-size: 90%;
    }
    &__icon{
        box-sizing: border-box;
        padding: 23px;
        background-color: $color-tertiary;
        text-align: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        &--animationTranslate {
            overflow: hidden;
            width: 0px;
            min-width: 0px;
            transition: all 600ms ease-in-out;
        }  
        &--animationRotate {
            font-size: 130%;
            color: $color-card;
            transform: rotate(-270deg);
            transition: transform 300ms 300ms ease-in-out;
        }
    }
    &:hover{
        & .plat__icon--animationTranslate{
            width: 66.8px;
            min-width: 66.8px;
        }
        & .plat__icon--animationRotate{
            transform: rotate(0);
        }
    }
    // animation: plat-anim 1.05s 450ms cubic-bezier(.15,.4,.5,.5) backwards;
}

@keyframes plat-anim {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}