.loading-spinner{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    @include flex-display(row, flex-start, flex-start, nowrap, no-adjust);
    & > div {
        position: relative;
        background-color: rgba(255, 255, 255, 0.98);
        @each $index in (1, 17) {
            &:nth-child(#{$index}){
                width: 31vw;
                @if ( $index == 1 ) {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -0.2vw;
                        width: 0.2vw;
                        height: 100vh;
                        background-size: 0.22vw 1.44vw,
                                         0.22vw 1.44vw;
                        background-image: linear-gradient(80deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw),
                                          linear-gradient(100deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw);
                    }
                    animation: side-move-left 1s 1.78s cubic-bezier(.8,.05,.55,.95) both;
                } @else {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -0.2vw;
                        width: 0.2vw;
                        height: 100vh;
                        background-position-y: -0.72vw;
                        background-size: 0.2vw 1.44vw,
                                         0.2vw 1.44vw;
                        background-image: linear-gradient(260deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw), 
                                          linear-gradient(280deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw);
                    }
                    animation: side-move-right 1s 1.72s cubic-bezier(.8,.05,.55,.95) both;
                }
            }
        }
        @each $index in (9) {
            &:nth-child(#{$index}){
                width: 34vw;
                animation: side-move-left 1s 1.72s cubic-bezier(.8,.05,.55,.95) both;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -0.2vw;
                    width: 0.2vw;
                    height: 100vh;
                    background-position-y: -0.72vw;
                    background-size: 0.2vw 1.44vw,
                                     0.2vw 1.44vw;
                    background-image: linear-gradient(260deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw), 
                                      linear-gradient(280deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw);
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -0.2vw;
                    width: 0.2vw;
                    height: 100vh;
                    background-size: 0.22vw 1.44vw,
                                     0.22vw 1.44vw;
                    background-image: linear-gradient(80deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw), 
                                      linear-gradient(100deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw);
                }
            }
        }
        @each $index in (2, 4, 6, 8, 10, 12, 14, 16) {
            &:nth-child(#{$index}){
                width: 0.35vw;
                @if ( index((2, 4, 6, 8), $index) ) {
                    animation: hands-down 2s cubic-bezier(.35,.35,.83,.67) both;
                } @else {
                    animation: hands-down 2s 50ms cubic-bezier(0.83, 0.67, 0.35, 0.35) both;
                }
            }
        }
        @each $index in (3, 5, 7, 11, 13, 15) {
            &:nth-child(#{$index}){
                width: 0.2vw;
                @if ( $index == 3 ) {
                    animation: side-move-right 1s 1.82s cubic-bezier(.8,.05,.55,.95) both;
                }
                @if ( $index == 5 ) {
                    animation: side-move-right 1s 1.86s cubic-bezier(.8,.05,.55,.95) both;
                }
                @if ( $index == 7 ) {
                    animation: side-move-right 1s 1.9s cubic-bezier(.8,.05,.55,.95) both;
                } 
                @if ( $index == 11 ) {
                    animation: side-move-left 1s 1.76s cubic-bezier(.8,.05,.55,.95) both;
                }
                @if ( $index == 13 ) {
                    animation: side-move-left 1s 1.8s cubic-bezier(.8,.05,.55,.95) both;
                }
                @if ( $index == 15 ) {
                    animation: side-move-left 1s 1.84s cubic-bezier(.8,.05,.55,.95) both;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -0.2vw;
                    width: 0.2vw;
                    height: 100vh;
                    background-position-y: -0.72vw;
                    background-size: 0.2vw 1.44vw,
                                     0.2vw 1.44vw;
                    background-image: linear-gradient(260deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw), 
                                      linear-gradient(280deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw);
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -0.2vw;
                    width: 0.2vw;
                    height: 100vh;
                    background-size: 0.22vw 1.44vw,
                                     0.22vw 1.44vw;
                    background-image: linear-gradient(80deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw), 
                                      linear-gradient(100deg, rgba(255, 255, 255, 0.98) 0.2vw, transparent 0.2vw);
                }
            }
        }
        height: 100vh;
    }
    & > .left_hand {
        display: block;
        width: 19.489795918367347vw;
        filter: drop-shadow(0.7vw 0.7vw 0.7vw $color-shadow);
        position: absolute;
        top: -3.36734693877551vw;
        left: 20.4%;
        z-index: 1;
        animation: hands-down 2s cubic-bezier(.35,.35,.83,.67) both;
    }
    & > .right_hand {
        display: block;
        width: 19.489795918367347vw;
        filter: drop-shadow(0.7vw 0.7vw 0.7vw $color-shadow);
        position: absolute;
        top: -3.36734693877551vw;
        right: 20.4%;
        z-index: 1;
        animation: hands-down 2s 50ms cubic-bezier(0.83, 0.67, 0.35, 0.35) both;
                //    hands-shake 100ms 50ms alternate infinite both;
    }
    // animation: hide-all 100ms 2.9s forwards;
}

@keyframes hands-down {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(100vh);
    }
}

@keyframes hands-shake {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(0.2vw);
    }
}

@keyframes side-move-left {
    0% {
        transform-origin: bottom right;
        transform: translateY(0) rotate(0);
    }
    100%{
        transform: translateY(100vh) rotate(-60deg);
    }
}

@keyframes side-move-right {
    0% {
        transform-origin: bottom left;
        transform: translateY(0) rotate(0);
    }
    100%{
        transform: translateY(100vh) rotate(60deg);
    }
}

@keyframes hide-all {
    0% {
        opacity: 0.98;
    }
    100%{
        opacity: 0;
        // z-index: -3;
        width: 0;
        height: 0;
    }
}

.city-section{
    @include flex-display(column, center, center, nowrap, no-adjust);
    background-color: $color-city-section;
    & > h1{
        margin: 0;
        padding: 40px 60px 0px 60px;
        font-size: 140%;
        text-align: center;
    }
    & > p{
        margin: 0;
        padding: 15px 15px 0 15px;
        font-size: 110%;
        text-align: center;
    }
    & > a{
        text-decoration: none;
    }
}

.resto-section{
    @include flex-display(column-reverse, flex-start, flex-start, nowrap, no-adjust)
}

.resto-aside{
    @include article-aside-h2-mixin;
    margin-bottom: 50px;
}

.resto-article{
    @include article-aside-h2-mixin;
    background-color: lighten($color-quaternary, 50%);
    padding-bottom: 50px;
}

.resto-container{
    @include flex-display(row, space-between, space-between, wrap);
    box-sizing: border-box;
    padding: 0 20px;
    & > a{
        box-sizing: border-box;
        text-decoration: none; /* No link default style */
        color: #000;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 20px;
        box-shadow: 0 4px 7px 0px $color-shadow;
        position: relative;
        @each $key, $value in $fig-responsive{
            @include responsive($key){
                width: $value;
            }
        }
    }
}